<!--------------------- Add Form ---------------------->
<div class="container" style="width: fit-content; height: max-content;">
  <form #ngForm="ngForm" (ngSubmit)="AddStudent()">

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">StudentName</label>
      <div class="col-8">
        <input type="text" class="form-control" name="StudentName" id="StudentName" placeholder="StudentName" [(ngModel)]="std.StudentName">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Age</label>
      <div class="col-8">
        <input type="text" class="form-control" name="Age" id="Age" placeholder="Age" [(ngModel)]="std.Age">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Gender</label>
      <div class="col-8">
        <input type="text" class="form-control" name="Gender" id="Gender" placeholder="Gender" [(ngModel)]="std.Gender">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Class</label>
      <div class="col-8">
        <input type="text" class="form-control" name="Class" id="Class" placeholder="Class" [(ngModel)]="std.Class">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Course</label>
      <div class="col-8">
        <input type="text" class="form-control" name="Course" id="Course" placeholder="Course" [(ngModel)]="std.Course">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Address</label>
      <div class="col-8">
        <input type="text" class="form-control" name="Address" id="Address" placeholder="Address" [(ngModel)]="std.Address">
      </div>
    </div>
    
 
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
  </div>
</form>
</div>

<!-- --------------------display Table ----------------------------->
<div class="table-responsive">
  <table class="table table-striped
  table-hover	
  table-borderless
  table-primary
  align-middle">
    <thead class="table-light">
     
      <tr>
        <th>StudentName</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Course</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="table-primary" *ngFor="let ele of data">
          <td scope="row">{{ele.StudentName}}</td>
          <td>{{ele.Age}}</td>
          <td>{{ele.Gender}}</td>
          <td>{{ele.Course}}</td>
          <td>{{ele.Address}}</td>
          <td>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalId" (click)="GetCurrentData(ele)">Edit</button>
            <button class="btn btn-danger" (click)="DeleteRecord(ele.id)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        
      </tfoot>
  </table>
</div>

<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- using ngforms to take inputs  -->
      <form #ngForm="ngForm" (ngSubmit)="UpdateStd()">


        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">StudentName</label>
          <div class="col-8">
            <input type="text" class="form-control" name="StudentName" id="StudentName" placeholder="StudentName" [(ngModel)]="currentData.StudentName">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">Age</label>
          <div class="col-8">
            <input type="text" class="form-control" name="Age" id="Age" placeholder="Age" [(ngModel)]="currentData.Age">
          </div>
        </div>
    
        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">Gender</label>
          <div class="col-8">
            <input type="text" class="form-control" name="Gender" id="Gender" placeholder="Gender" [(ngModel)]="currentData.Gender">
          </div>
        </div>
    
        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">Class</label>
          <div class="col-8">
            <input type="text" class="form-control" name="Class" id="Class" placeholder="Class" [(ngModel)]="currentData.Class">
          </div>
        </div>
    
        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">Course</label>
          <div class="col-8">
            <input type="text" class="form-control" name="Course" id="Course" placeholder="Course" [(ngModel)]="currentData.Course">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">Address</label>
          <div class="col-8">
            <input type="text" class="form-control" name="Address" id="Address" placeholder="Address" [(ngModel)]="currentData.Address">
          </div>
        </div>
        
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div> 


